!!!
html
    head

    body(ng-app="complexViewApp")
        div(ng-controller="complexViewController")
            h1 Simple View
            div.well
                label This is for everyone
                input(ng-model="input0")
            ng-include(src="'canInput1_ViewOneTemplate'")
            ng-include(src="'canInput1_ViewTwoTemplate'")
        include /core/shared/scripts
        script(src='/web/js/complexView.js')
