extends layout

block body
    script(src='#{productRoute}/web/js/controllers/mainController.js')
    script(src='#{productRoute}/web/js/app.js')	

    h1 Web
    div(ng-view)
        
    include partials/hello.jade
