extends layout

block body
    script(src="/web/js/controllers/mainCntrl.js")
    script(src="/web/js/controllers/tableCntrl.js")
    script(src="/web/js/controllers/breadcrumbCntrl.js")
    script(src="/web/js/app.js")

    div(id="main", role="main", class="container-fluid ng-cloak")
        header
            h1 Monkeynaut
            h4 Command Alkon Angular Components.
            evo-breadcrumb(dynamic)
            ul(class="nav nav-pills", ng-controller="NavCntrl")
                li(ng-repeat="route in routes", ng-class="{ active: route === currentRoute }")
                    a(href="", ng-href="#{basePath}{{ route }}", ng-click="onclick($event, route)") {{ route.substr(1) || "home" }}
        hr
        div(class="ng-view")
    evo-about-modal(data-product-title="#{title}", data-logo="#{config.appBase}/shared/img/logo-48.png")
    include partials/hello.jade
    include partials/table.jade
    include partials/breadcrumb.jade
