extends layout

block body
    script(src='/web/js/lib/ng-bootstrap.js')
    script(src='/web/js/controllers/mainController.js')
    script(src='//d3eyf2cx8mbems.cloudfront.net/js/loggly-0.2.1.js')
    script(src='/web/js/app.js')	
    div(ng-view)
    include partials/pivotal.jade