extends layout

block body
    script(src='#{productRoute}/web/js/controllers/mainCtrl.js')
    script(src='#{productRoute}/web/js/app.js')	

    div(class="bar bar-header bar-stable")
        h1(class="title") bar-stable
    
    div(class="container-fluid content has-header")
        div(class="ng-view")
    
    div(class="bar bar-footer bar-balanced")
        div(class="title") Footer
        
    include partials/main.jade