extends layout

block body
    script(src="/web/js/controllers/mainCntrl.js")
    script(src="/web/js/controllers/tableCntrl.js")
    script(src="/web/js/app.js")

    h1 Web
    div(class="ng-view ng-cloak")

    include partials/hello.jade
    include partials/table.jade
