!!!
html(ng-app="peApp")
	head
		meta(charset='utf8')
		//base(href='/')
		title #{title}
		link(rel='stylesheet', href='/shared/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/shared/bootstrap/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/shared/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='/web/css/app.css')
		link(rel='stylesheet', href='/shared/css/evo-default.css')
		meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1, user-scalable=no')
	body
		include /core/shared/scripts
		include /core/shared/branding
		block body
