!!!
html(ng-app="peApp")
  head
    meta(charset='utf8')
    title #{title}
    link(rel='stylesheet', href='#{config.appBase}/shared/monkeynaut/dist/css/projevo-core.pkg.css')
    link(rel='stylesheet', href='#{config.appBase}/web/css/app.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // load branding styles
    include /core/shared/branding

  body(i18n-locale=i18n.getLocale())
    script(src='#{config.appBase}/shared/monkeynaut/dist/js/bundle-full.js')
    include /core/shared/scripts

    block body
