!!!
html(ng-app="peApp")
  head
    meta(charset='utf8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title}

    link(rel='stylesheet', href='/shared/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/shared/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/shared/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/shared/lux/css/lux.min.css')
    link(rel='stylesheet', href='/web/css/app.css')
  body
    base(href="/")
    include /core/shared/scripts
    script(src="shared/lux/js/lux.min.js")
    block body
