!!!
html(ng-app="demo")
  head
    meta(charset="utf8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title #{title}

    link(rel="stylesheet", href="#{config.appBase}/shared/monkeynaut/css/projevo.pkg.css")
    link(rel="stylesheet", href="#{config.appBase}/web/css/app.css")
  body
    script(src="#{config.appBase}/shared/monkeynaut/js/projevo.pkg.js")

    base(href="/")
    block body
