!!!
html
    head

    body(ng-app="tableViewApp")
        div(ng-controller="tableViewController")
            h1 Table View
            div.well
                ng-include(src="'canInput1_TableTemplate'")

        include /core/shared/scripts
        script(src='/web/js/tableView.js')
