
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(fonts/titilliumweb.woff) format('woff');
}

html,body{
    font-family: 'Titillium Web';
}
a, a:hover {
    text-decoration: none;
    color:#72b842;
}
/*.cai-pagebackground{*/
    /*width:100%;*/
    /*border-top: solid 50px #494c57;*/
/*}*/
.cai-pagebackground{
    width:100%;
    display: block;
    height: 70%;
    min-height: 400px; /* added remove if poss */
    background-color: #494c57;
    *background-color: #494c57;
    background-image: -moz-linear-gradient(top, #494c57, #f5f5f5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#494c57, to(#f5f5f5)));
    background-image: -webkit-linear-gradient(top, #494c57, #f5f5f5);
    background-image: -o-linear-gradient(top, #494c57, #f5f5f5);
    background-image: linear-gradient(to bottom, #494c57, #f5f5f5);
    background-repeat: repeat;
    border-top: solid 50px #72b842;
}
/* layout - handles center main content area in application */
.cai-pagebackground > section{
    margin:0 auto;
    border:0;
    padding:10px 20px;
    width: 980px;
    height: 100%;
    background: #ffffff;
    position: relative;
    top: 0px;
    bottom: 0px;
    box-shadow: 0px 2px 4px 4px #494c57;
}

.cai-stripes{
    width: 100%;
    height: inherit;
    opacity:0.2;
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .8) 50%, rgba(255, 255, 255, 1) 75%, transparent 75%, transparent);
    background-image: -webkit-gradient(135deg, rgba(255, 255, 255, .4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .8) 50%, rgba(255, 255, 255, 1) 75%, transparent 75%, transparent);
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .8) 50%, rgba(255, 255, 255, 1) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .8) 50%, rgba(255, 255, 255, 1) 75%, transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .8) 50%, rgba(255, 255, 255, 1) 75%, transparent 75%, transparent);
    -webkit-background-size: 10px 10px;
    -moz-background-size: 10px 10px;
    background-size: 10px 10px;
}

/* handles the background color band running the width of the pag */
/* not ging to use color band if i cna ust add a border top of pagewrapper */
/*.colorband{*/
/*width: 100%;*/
/*background:  #72b842;*/
/*position: fixed;*/
/*top: 0;*/
/*border-top: solid 250px #335478;*/
/*}*/

/* default header nav button state */
.cai-btn-nav{
    padding: 10px 20px;
    margin: 5px 10px;
    font-family: 'Titillium Web', sans-serif;
    color: #f5f5f5;
    text-align: center;
    background: #72b842;
    text-shadow:0;
    box-shadow:0;
    border:0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none;
}

/* header nav button - handles default state for icon */
.cai-btn-nav i[class^='icon-']{
    color: #f5f5f5;
}

/* header nav button - handles default state for icon on hover */
.cai-btn-nav:hover i[class^='icon-']{
    color: #72b842;
}

/* header nav button - handles hover state and all other header nav btn states */
.cai-btn-nav:hover,
.cai-btn-nav:focus,
.cai-btn-nav.active,
.cai-btn-nav.disabled,
.cai-btn-nav[disabled] {
    background: #ffffff;
    color: #72b842;

}
.cai-btn-nav:focus,
.cai-btn-nav:hover.active,
.cai-btn-nav:hover.disabled,
.cai-btn-nav:hover[disabled] {
    background: #ffffff;
    color: #72b842;
}
.cai-btn-nav.disabled,
.cai-btn-nav[disabled]{
    opacity: 0.5;
    cursor: pointer;
}
.cai-btn-nav.disabled i[class^='icon-'],
.cai-btn-nav.active i[class^='icon-']{
    color: #72b842;

}

/* header nav button - handles btn link text for btns in the header nav */
.cai-btn-nav .text{
    float: right;
    padding: 20px 0 8px 5px;
    font-size: 1.3em;
}

/* header nav - handles the toggle/dropdown buttons used in header nav */
.cai-btn-dropdown{
    background: #72b842;
    color:#ffffff;
    outline: none;
}
.cai-btn-dropdown:hover{
    background: #ffffff;
    color: #72b842;
}
.cai-btn-dropdown i[class^='icon-']{
    color: #ffffff;
}
.cai-btn-dropdown:hover i[class^='icon-']{
    color: #72b842;
}
i[class^='icon-']{
    color: #393c45;
    font-size: 30px;
    /*font-size: 48px;*/
}
/*#cai-commerce-nav .btn:hover i[class^='icon-']{*/
    /*color: #ffffff;*/
    /*font-size: 48px;*/
    /*font-size: 30px;*/
/*}*/

/* content area - handles head of a new section */
.cai-header {
    color: #393c45;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    border-bottom: solid 1px #72b842;
}

/* content area - handles button style */
.cai-btn {
    display: inline-block;
    margin: 20px 0px 0px 20px;
    padding: 20px 0;
    font-family: 'Titillium Web';
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    font-weight: bold;
    height: auto;
    width: 120px;
    text-align: center;
    border-width: 4px;
    border-style: solid;
    /*border-color: lighten(#72b842, 20%);*/
    border-radius: 0px;
    box-shadow: 0;
    text-shadow: 0 0 0 rgba(255,255,255,0.75);
    background: -webkit-linear-gradient(top, #72b842 0%, #72b842 100%);
    background: -moz-linear-gradient(top, #72b842 0%, #72b842 100%);
    cursor: pointer;

}
.cai-btn:hover {
    background: -webkit-linear-gradient(top, #71b741 0%, #66af3f 100%);
    background: -moz-linear-gradient(top, #71b741 0%, #66af3f 100%);
    /*border-color: lighten(#72b842, 10%);*/
    box-shadow: 0;
    text-shadow: 0 0 0 rgba(255,255,255,0.75);
}

/* content area - handles assigning primary and secndary color */
.cai-color-primary{
    color: #72b842;
}
.cai-color-secondary{
    color: #393c45;
}

/* content area - handles navigation - pills */
.cai-nav-pills>li{
    list-style: none;
}
.cai-nav-pills>li>a{
    color: #72b842;
}
.cai-nav-pills > .active > a, .cai-nav-pills > .active > a:hover, .cai-nav-pills> .active > a:focus {
    color: white;
    background-color: #72b842;
}
.cai-nav-pills>li>a:hover, .cai-nav-pills>li>a:focus {
    /*background-color: lighten(#72b842, 40%);*/
}

/* labels - handles labels used in forms */
.cai-label{
    display: inline-block;
    padding: 0 10px;
    color: #72b842;
    font-weight: bold;
}








/* todo: keep only branding styles for header nav below */
/* branding overwrites bootstrap */
.navbar {
    border-top: solid 5px #72b842;
}
.navbar-inverse .navbar-inner {
    padding: 0;
    background: #393c45;
    border-radius: 0;
}
/* header title */
.navbar-inverse .brand {
    color: #999999;
}
/* header title :hover */
.navbar-inverse .brand:hover {
    color: #ffffff;
}
.navbar a,
.navbar a:hover,
.navbar a:visited {
    color: #ffffff;
}
.navbar ul li i span {
    font-family: "Titillium Web";
}
.navbar .btn {
    margin: 2px 5px;
    border: 0px;
    border-radius: 5px;
}
.navbar ul li {
    display: inline-block;
}
.navbar-fixed-bottom {
    margin: 0;
    background: #393c45;
    z-index: 1;
}
.navbar-fixed-bottom p {
    color: #e5e8f9;
    text-align: center;
    margin: 2px 0 2px 0;
}
.navbar-inner {
    min-height: 50px;
}
.navbar-fixed-bottom ul {
    margin: 0;
}
.navbar-fixed-bottom ul a > li {
    padding: 0 10px;
    display: inline-block;
}
.navbar .divider {
    position: relative;
    top: 3px;
    right: -2px;
    width: 1px;
    border-right: 1px solid #393c45;
}
.navbar h1 {
    display: inline;
    padding: 0 0 0 10px;
    color: #ffffff;
    font-family: "Titillium Web";
    font-size: 2em;
    line-height: 2.5em;
}
.navbar-inverse .navbar-search .search-query {
    color: #000000;
}
/* header footer buttons  */
header > .navbar .btn {
    padding: 5px 10px;
    margin-bottom: 0;
    *margin-left: 5px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2em;
    line-height: 1em;
    color: #393c45;
    text-align: center;
    background: #72b842;
}
/* buttons - used in header footer nav  */
header > .navbar .btn.disabled,
header > .navbar .btn[disabled] {
    background: #72b842;
    color: #393c45;
    text-shadow: none;
}
header > .navbar .btn:hover,
header > .navbar .btn:focus,
header > .navbar .btn.active {
    background: #ffffff;
    color: #393c45;
    text-shadow: none;
}
header > .navbar .btn {
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 0;
    *margin-left: 5px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
}