
/* required core layout */
/* and fallback for colors if there is an error compiling evo branding on server */
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(fonts/titilliumweb.woff) format('woff');
}
html,body{
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    font-family: 'Titillium Web';
    font-weight: 400;
}
body{
    margin: 0;
    height: 100%;
}
a, a:hover {
    text-decoration: none;
    color:#72b842;
}

/* handles the background color rectangular band extending the width of the page */
.cai-colorband{
    width: 100%;
    height:25px;
    background:  #72b842;
    position: fixed;
    top: 125px;
}
.cai-gradient{
    display: block;
    width:100%;
    height: 100%;
    background-color: #494c57;
    background-image: -moz-linear-gradient(top, #494c57, #f5f5f5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#494c57, to(#f5f5f5)));
    background-image: -webkit-linear-gradient(top, #494c57, #f5f5f5);
    background-image: -o-linear-gradient(top, #494c57, #f5f5f5);
    background-image: linear-gradient(to bottom, #494c57, #f5f5f5);
    background-repeat: repeat;
    border-top:solid 5px #ffffff;
    position: fixed;
    top: 150px;
    bottom: 0px;
}

/* layout - stripes overlay .cai-gradient */
.cai-stripes{
    float: left;
    margin: 0px;
    width: 100%;
    height: inherit;
    opacity: 0.3;
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: -webkit-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    -webkit-background-size: 20px 20px;
    -moz-background-size: 20px 20px;
    background-size: 20px 20px;
}

.cai-content{
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    top: 100px;
}
/* layout - handles center main content area in application */
.cai-content > section{
    display: block;
    margin:0 auto;
    border:0;
    padding:10px 20px 50px 20px;
    width: 980px;
    background: #ffffff;
    box-shadow: 0px 6px 16px 2px #494c57;
}

/* content area - handles the head, or title, of a new section */
.cai-header {
    color: #393c45;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    border-bottom: solid 1px #72b842;
}
.cai-nav{
    border-top: solid 5px #72b842;
    color: #f5f5f5;
    background: #393c45;
}
.cai-nav .app-logo{
    display: inline-block;
    max-width:200px;
    max-height: 50px;
    width: 50px;
    height: 40px;
    background: url('../img/icon-app-green-commerce.png') no-repeat;
    vertical-align: middle;
}
.cai-nav ul li {
    display: inline-block;
    margin-top:5px;
}
.cai-nav h1{
    display: inline;
    padding: 0 0 0 10px;
    color: #ffffff;
    font-family: 'Titillium Web';
    font-size: 2em;
    line-height: 2.5em;
}
.cai-nav .btn {
    margin: 10px 5px;
    padding: 10px 20px;
    color: #393c45;
    background: #72b842;
    text-shadow: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
}
.cai-nav .btn.disabled,
.cai-nav .btn[disabled] {
    background: #72b842;
    color: #393c45;
}
.cai-nav .btn:hover,
.cai-nav .btn:focus,
.cai-nav .btn.active,
.cai-nav .btn.disabled,
.cai-nav .btn[disabled]{
    background:#ffffff;
    color: #393c45;
}
.cai-nav i[class^='icon-']{
    color: #393c45;
}
.cai-nav .search-query {
    color: #000000;
}
.cai-nav .divider {
    position: relative;
    top: 3px;
    right: -2px;
    border-right: 1px solid #72b842;
}
.cai-nav > p {
    color: #f5f5f5;
    text-align: center;
    margin: 2px 0 2px 0;
}
.cai-icon{
    font-size: 48px;
}
.cai-btn {
    display: inline-block;
    margin: 0px auto;
    padding: 20px 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    font-weight: bold;
    height: auto;
    width: 40%;
    text-align: center;
    border-width: 4px;
    border-style: solid;
    border-radius: 0px;
    background: -webkit-linear-gradient(top, #72b842 0%, #72b842 100%);
    background: -moz-linear-gradient(top, #72b842 0%, #72b842 100%);
    cursor: pointer;
}
.cai-btn:hover {
    background: #72b842;
    text-shadow: none;
}
.cai-color-primary{
    color: #72b842;
}
.cai-color-secondary{
    color: #393c45;
}
.cai-nav-pills > li{
    list-style: none;
}
.cai-nav-pills > li > a{
    color: #72b842;
}
.cai-nav-pills > .active > a, .cai-nav-pills > .active > a:hover, .cai-nav-pills> .active > a:focus {
    color: white;
    background-color: #72b842;
}
.cai-label{
    display: inline-block;
    padding: 0 10px;
    color: #72b842;
    font-weight: bold;
}