/* to run your app with branding you will have to add a new branding object to your companies document and run a mongoimport to reseed your db */
/* the example below uses the argos colors for branding */
/*
        "code": "argos",
	    "status": "active",
        branding: {
            "primary": "@color-primary: #0b1b4c;",
            "secondary" : "@color-secondary: #add500;",
            "logo" : "@logo: 'logo-commerce.png';"
        },
        "products": [
            {}
        ]

*/
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(/cai/core/shared/css/fonts/titilliumweb.woff) format('woff');
}
a,
a:hover {
  color: #0b1b4c;
}
.cai-colorband {
  background: #add500;
}
.cai-nav {
  border-top: solid 5px #add500;
  background: #0b1b4c;
}
.cai-nav .app-logo {
  background: url("/assets/ss/img/ss-logo.png") no-repeat;
}
.cai-nav .divider {
  border-right: 1px solid #add500;
}
.cai-nav .btn {
  color: #0b1b4c;
  background: #add500;
  text-shadow: none;
}
.cai-nav .cai-nav .btn:hover i[class^='icon-'] {
  color: #0b1b4c;
}
.cai-nav .btn:hover,
.cai-nav .btn:focus,
.cai-nav .btn.active,
.cai-nav .btn.disabled,
.cai-nav .btn:hover.active,
.cai-nav .btn:hover.disabled,
.cai-nav .btn:hover[disabled] {
  background: #ffffff;
  color: #0b1b4c;
}
.cai-nav .btn.disabled i[class^='icon-'],
.cai-nav .btn.active i[class^='icon-'] {
  color: #0b1b4c;
}
.cai-nav .cai-dropdown {
  background: #add500;
  color: #ffffff;
  outline: none;
}
.cai-nav .cai-dropdown:hover {
  background: #ffffff;
  color: #0b1b4c;
}
.cai-nav .cai-dropdown:hover i[class^='icon-'] {
  color: #0b1b4c;
}
.cai-icon {
  color: #0b1b4c;
}
.cai-header {
  color: #0b1b4c;
  border-bottom: solid 1px #add500;
}
.cai-line-header {
  border-top: solid 5px #0b1b4c;
}
.cai-color-primary {
  color: #0b1b4c;
}
.cai-color-secondary {
  color: #add500;
}
.cai-background-color-primary {
  background: #0b1b4c;
}
.cai-background-color-secondary {
  background: #add500;
}
.cai-btn {
  border-color: #183ba5;
  background: #0b1b4c;
}
.cai-btn:hover {
  color: #add500;
  background: #081336;
  border-color: #112b79;
}
/* todo - start */
.nav-pills > li > a {
  color: #add500;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  background-color: #add500;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  background-color: #add500;
}
.nav-pills.cai-nav-pills > li > a {
  color: #0b1b4c;
}
.nav-pills.cai-nav-pills > .active > a,
.nav-pills.cai-nav-pills > .active > a:hover,
.nav-pills.cai-nav-pills > .active > a:focus {
  background-color: #0b1b4c;
}
.nav-pills.cai-nav-pills > li > a:hover,
.nav-pills.cai-nav-pills > li > a:focus {
  background-color: #99aef0;
}
.kalendae .k-days span.k-selected.k-active {
  background: #0b1b4c;
}
.kalendae .k-btn-previous-month,
.kalendae .k-btn-next-month,
.kalendae .k-btn-previous-year,
.kalendae .k-btn-next-year {
  color: #0b1b4c;
}
.kalendae .k-btn-close {
  color: #0b1b4c;
}
.kalendae .k-btn-close:hover {
  color: #add500;
  border-color: #add500;
}
.kalendae .k-btn-previous-year:hover,
.kalendae .k-btn-next-year:hover {
  color: #add500;
}
.kalendae .k-btn-previous-month:hover,
.kalendae .k-btn-next-month:hover {
  color: #add500;
}
.cai-modal {
  border: 4px solid #0b1b4c;
}
.cai-link-color-secondary {
  border-color: transparent transparent #add500 transparent;
}
.cai-link-color-primary {
  border-color: transparent transparent #0b1b4c transparent;
}
.cai-line {
  border-bottom: solid 1px #add500;
}
/* todo - end */
.cai-label {
  color: #0b1b4c;
}
.dropdown-menu li a,
.dropdown-menu li a i[class^='icon-'] {
  color: #0b1b4c;
}
.dropdown-menu li a:hover,
.dropdown-menu li a:hover i[class^='icon-'] {
  background: #add500;
}
.dropdown-menu li a.active,
.dropdown-menu li a.active i[class^='icon-'] {
  background: #add500;
}
.dropdown-menu li .btn.active,
.dropdown-menu li .btn.active i[class^='icon-'] {
  background: #add500;
}
@-webkit-keyframes fade {
  from {
    opacity: 1;
    background: #0b1b4c;
  }
  to {
    opacity: 0.0;
    background: #0b1b4c;
  }
}
@keyframes fade {
  from {
    opacity: 1;
    background: #0b1b4c;
  }
  to {
    opacity: 0.0;
    background: #0b1b4c;
  }
}
