script#customadmindemoUserSettings(type='text/ng-template')
    div(data-ng-controller="customadmindemoSettingsCtrl")
        h2 #{__("Custom Admin Demo")}
        div
            label #{__("Check")}
            input(type="checkbox", ng-model="product.settings.check")