script#customadmindemoUserSettings(type='text/ng-template')
    div(data-ng-controller="customadmindemoSettingsCtrl")
        h2 #{__("Custom Admin Demo")}
        include ./partials/check.jade
        div
            h3 {{localMsg}}