script(data-id="about", type="text/ng-template")
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in dolor lectus. Nunc et velit eget enim bibendum placerat. Morbi id tincidunt nisl. Pellentesque vel leo ac massa porta rhoncus a in eros. Vestibulum cursus tellus id leo posuere, quis feugiat turpis sollicitudin. Vestibulum in est a odio gravida ornare ut vel lorem. Vestibulum vehicula mi non lobortis venenatis. Vivamus at fringilla orci, sit amet condimentum nunc. Etiam elementum euismod porta. Phasellus ornare elementum risus, sed faucibus eros vulputate tempus.
