script#canInput6Default(type='text/ng-template')
	div#fragmentSix.well
		label#labelSix This is DEFAULT for Can Input 6
		input#inputSix(ng-model="input6")

script#canInput7Default(type='text/ng-template')
	div#fragmentSeven.well
		label#labelSeven This is DEFAULT for Can Input 7
