script#core-ui(type='text/ng-template')
	h2 ProjectEvo-Core UI Components
	h3 .cai-nav
	p placeholder for .cai-nav example
	hr
	h3 .cai-nav .btn
	p placeholder for .cai-nav .btn example
	hr
	h3 .cai-btn
	p placeholder for .cai-btn example
	hr
	h3 .cai-nav-pills
	p placeholder for .cai-nav-pills example
	hr
	h3 .cai-header
	p placeholder for .cai-header example
	hr
	h3 .cai-modal
	p placeholder for .cai-modal example
	hr
	h3 .cai-icon
	p placeholder for .cai-icon example
	hr
	h3 .cai-label
	p placeholder for .cai-label example
	hr