script#hello(type='text/ng-template')
    h2#hellomsg {{message}}
    button(ng-click="createRoom()") Create Basic Room
    button(ng-click="createVendorRoom()") Create Vendor Room
    button(ng-click="createAnotherRoom()") Create Another Room
    button(ng-click="createCompanyRoom()") Create Company Room
