script#hello(type='text/ng-template')
    h2#hellomsg {{message}}
    button(ng-click="createUrlRoom()") Create Test Room
    button(ng-click="createPathBegRoom()") Create Test/id Room
    button(ng-click="createVendorRoom()") Create Test/id/vendor Room
