script#hello(type='text/ng-template')

    h2#hellomsg {{message}}
    div#container.scrollable
        div#scroller1.scrollable.
            Lorem ipsum dolor sit amet, cu pro erant altera eligendi, eam duis laboramus ne, amet tamquam intellegat eu est. Omnis dicta fastidii mei cu, ad pri labitur adipisci dissentiet. Ad cibo epicurei adipiscing sea, mea ea brute ignota eruditi. Suas duis usu ut, dolorum reprimique cu duo. Saepe putant scripta mei cu, in pri eros numquam consulatu.
            Quando soluta no pro. In pri natum choro appareat, est te tantas scribentur disputationi. Duo ignota albucius in, te vel causae phaedrum, dicta debet feugiat et eam. Adolescens rationibus ne nec, alterum debitis indoctum at pro. Fugit iusto salutandi ius ut.
            In commodo delenit ius. Ut cum falli albucius senserit, mel eu minimum deserunt praesent. Ea nominavi salutatus complectitur pro, nec at primis fabellas pericula. Pri no dicam docendi vulputate, affert perfecto tractatos at sed. Vidit numquam adipiscing sed ea.
            Cum ferri utroque complectitur te, tota erat pro at. Omnis feugait eos ex, ferri aliquid maluisset ea vel. Mel volumus gubergren an, mel pertinax forensibus no. Nec te animal eleifend iracundia, vim et quaeque sadipscing, ea omnes luptatum eam.
            Has ei modus argumentum. Lobortis adipiscing eam eu, vim ne graeco voluptatum persequeris. Eam ex atomorum sensibus, in usu omittam consequuntur, mea natum quaerendum ad. Sumo concludaturque per no, no causae euismod epicuri cum. Tritani volumus elaboraret eu vix.
            Lorem ipsum dolor sit amet, cu pro erant altera eligendi, eam duis laboramus ne, amet tamquam intellegat eu est. Omnis dicta fastidii mei cu, ad pri labitur adipisci dissentiet. Ad cibo epicurei adipiscing sea, mea ea brute ignota eruditi. Suas duis usu ut, dolorum reprimique cu duo. Saepe putant scripta mei cu, in pri eros numquam consulatu.
            Quando soluta no pro. In pri natum choro appareat, est te tantas scribentur disputationi. Duo ignota albucius in, te vel causae phaedrum, dicta debet feugiat et eam. Adolescens rationibus ne nec, alterum debitis indoctum at pro. Fugit iusto salutandi ius ut.
            In commodo delenit ius. Ut cum falli albucius senserit, mel eu minimum deserunt praesent. Ea nominavi salutatus complectitur pro, nec at primis fabellas pericula. Pri no dicam docendi vulputate, affert perfecto tractatos at sed. Vidit numquam adipiscing sed ea.
            Cum ferri utroque complectitur te, tota erat pro at. Omnis feugait eos ex, ferri aliquid maluisset ea vel. Mel volumus gubergren an, mel pertinax forensibus no. Nec te animal eleifend iracundia, vim et quaeque sadipscing, ea omnes luptatum eam.
            Has ei modus argumentum. Lobortis adipiscing eam eu, vim ne graeco voluptatum persequeris. Eam ex atomorum sensibus, in usu omittam consequuntur, mea natum quaerendum ad. Sumo concludaturque per no, no causae euismod epicuri cum. Tritani volumus elaboraret eu vix.
        br
        div#scroller2.scrollable.
            Lorem ipsum dolor sit amet, cu pro erant altera eligendi, eam duis laboramus ne, amet tamquam intellegat eu est. Omnis dicta fastidii mei cu, ad pri labitur adipisci dissentiet. Ad cibo epicurei adipiscing sea, mea ea brute ignota eruditi. Suas duis usu ut, dolorum reprimique cu duo. Saepe putant scripta mei cu, in pri eros numquam consulatu.
            Quando soluta no pro. In pri natum choro appareat, est te tantas scribentur disputationi. Duo ignota albucius in, te vel causae phaedrum, dicta debet feugiat et eam. Adolescens rationibus ne nec, alterum debitis indoctum at pro. Fugit iusto salutandi ius ut.
            In commodo delenit ius. Ut cum falli albucius senserit, mel eu minimum deserunt praesent. Ea nominavi salutatus complectitur pro, nec at primis fabellas pericula. Pri no dicam docendi vulputate, affert perfecto tractatos at sed. Vidit numquam adipiscing sed ea.
            Cum ferri utroque complectitur te, tota erat pro at. Omnis feugait eos ex, ferri aliquid maluisset ea vel. Mel volumus gubergren an, mel pertinax forensibus no. Nec te animal eleifend iracundia, vim et quaeque sadipscing, ea omnes luptatum eam.
            Has ei modus argumentum. Lobortis adipiscing eam eu, vim ne graeco voluptatum persequeris. Eam ex atomorum sensibus, in usu omittam consequuntur, mea natum quaerendum ad. Sumo concludaturque per no, no causae euismod epicuri cum. Tritani volumus elaboraret eu vix.
            Lorem ipsum dolor sit amet, cu pro erant altera eligendi, eam duis laboramus ne, amet tamquam intellegat eu est. Omnis dicta fastidii mei cu, ad pri labitur adipisci dissentiet. Ad cibo epicurei adipiscing sea, mea ea brute ignota eruditi. Suas duis usu ut, dolorum reprimique cu duo. Saepe putant scripta mei cu, in pri eros numquam consulatu.
            Quando soluta no pro. In pri natum choro appareat, est te tantas scribentur disputationi. Duo ignota albucius in, te vel causae phaedrum, dicta debet feugiat et eam. Adolescens rationibus ne nec, alterum debitis indoctum at pro. Fugit iusto salutandi ius ut.
            In commodo delenit ius. Ut cum falli albucius senserit, mel eu minimum deserunt praesent. Ea nominavi salutatus complectitur pro, nec at primis fabellas pericula. Pri no dicam docendi vulputate, affert perfecto tractatos at sed. Vidit numquam adipiscing sed ea.
            Cum ferri utroque complectitur te, tota erat pro at. Omnis feugait eos ex, ferri aliquid maluisset ea vel. Mel volumus gubergren an, mel pertinax forensibus no. Nec te animal eleifend iracundia, vim et quaeque sadipscing, ea omnes luptatum eam.
            Has ei modus argumentum. Lobortis adipiscing eam eu, vim ne graeco voluptatum persequeris. Eam ex atomorum sensibus, in usu omittam consequuntur, mea natum quaerendum ad. Sumo concludaturque per no, no causae euismod epicuri cum. Tritani volumus elaboraret eu vix.
        br
        div#scroller3.scrollable.
            Lorem ipsum dolor sit amet, cu pro erant altera eligendi, eam duis laboramus ne, amet tamquam intellegat eu est. Omnis dicta fastidii mei cu, ad pri labitur adipisci dissentiet. Ad cibo epicurei adipiscing sea, mea ea brute ignota eruditi. Suas duis usu ut, dolorum reprimique cu duo. Saepe putant scripta mei cu, in pri eros numquam consulatu.
            Quando soluta no pro. In pri natum choro appareat, est te tantas scribentur disputationi. Duo ignota albucius in, te vel causae phaedrum, dicta debet feugiat et eam. Adolescens rationibus ne nec, alterum debitis indoctum at pro. Fugit iusto salutandi ius ut.
            In commodo delenit ius. Ut cum falli albucius senserit, mel eu minimum deserunt praesent. Ea nominavi salutatus complectitur pro, nec at primis fabellas pericula. Pri no dicam docendi vulputate, affert perfecto tractatos at sed. Vidit numquam adipiscing sed ea.
            Cum ferri utroque complectitur te, tota erat pro at. Omnis feugait eos ex, ferri aliquid maluisset ea vel. Mel volumus gubergren an, mel pertinax forensibus no. Nec te animal eleifend iracundia, vim et quaeque sadipscing, ea omnes luptatum eam.
            Has ei modus argumentum. Lobortis adipiscing eam eu, vim ne graeco voluptatum persequeris. Eam ex atomorum sensibus, in usu omittam consequuntur, mea natum quaerendum ad. Sumo concludaturque per no, no causae euismod epicuri cum. Tritani volumus elaboraret eu vix.
            Lorem ipsum dolor sit amet, cu pro erant altera eligendi, eam duis laboramus ne, amet tamquam intellegat eu est. Omnis dicta fastidii mei cu, ad pri labitur adipisci dissentiet. Ad cibo epicurei adipiscing sea, mea ea brute ignota eruditi. Suas duis usu ut, dolorum reprimique cu duo. Saepe putant scripta mei cu, in pri eros numquam consulatu.
            Quando soluta no pro. In pri natum choro appareat, est te tantas scribentur disputationi. Duo ignota albucius in, te vel causae phaedrum, dicta debet feugiat et eam. Adolescens rationibus ne nec, alterum debitis indoctum at pro. Fugit iusto salutandi ius ut.
            In commodo delenit ius. Ut cum falli albucius senserit, mel eu minimum deserunt praesent. Ea nominavi salutatus complectitur pro, nec at primis fabellas pericula. Pri no dicam docendi vulputate, affert perfecto tractatos at sed. Vidit numquam adipiscing sed ea.
            Cum ferri utroque complectitur te, tota erat pro at. Omnis feugait eos ex, ferri aliquid maluisset ea vel. Mel volumus gubergren an, mel pertinax forensibus no. Nec te animal eleifend iracundia, vim et quaeque sadipscing, ea omnes luptatum eam.
            Has ei modus argumentum. Lobortis adipiscing eam eu, vim ne graeco voluptatum persequeris. Eam ex atomorum sensibus, in usu omittam consequuntur, mea natum quaerendum ad. Sumo concludaturque per no, no causae euismod epicuri cum. Tritani volumus elaboraret eu vix.    h2#hellomsg {{message}}
    h2#userdata {{udata || 'User is undefined'}}
    h2#companydata {{companyName || 'Company is undefined'}}
    h2#productdata {{productName || 'Product is undefined'}}

    form(action='{{logoutUrl}}', method='post')
        input(type='submit',value='Log Out')
