script#hello(type='text/ng-template')
    h2#hellomsg {{message}}
    h2#userdata {{udata || 'User is undefined'}}
    h2#ctxdata {{companyName || 'Company is undefined'}}
    h2#ctxdata {{productName || 'Product is undefined'}}