script#roleATemplate(type='text/ng-template')
    div.well
        label#labelRole This is for Role A
        input#inputRole(ng-model="role")
    div.well
        a(ng-click="navigateRestricted()") This gets us to the restricted view
