extends layout

block body

	script(src='/mobile/js/controllers/mainController.js')
	script(src='/mobile/js/app.js')

	ion-nav-bar.bar.bar-header.bar-stable(back-button-type="button-icon", back-button-icon="ion-arrow-left-c")
	ion-nav-view(animation="slide-left-right")

	include partials/hello.jade
	include partials/home.jade