!!!
html(ng-app="peApp")
  head
    meta(charset='utf8')
    //base(href='/')
    title #{title}
    link(rel='stylesheet', href='/shared/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/shared/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/shared/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/mobile/css/app.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    include /core/shared/scripts

    block body
