!!!
html(ng-app="peApp")
  head
    meta(charset='utf8')
    title #{title}
    link(rel='stylesheet', href='#{config.appBase}/shared/monkeynaut/dist/css/projevo-ionic.pkg.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    script(src='#{config.appBase}/shared/monkeynaut/dist/js/bundle-ionic.js')
    include /core/shared/scripts
    block body
