Download ChromeDriver
https://chromedriver.googlecode.com/files/chromedriver_win32_2.0.zip
(or select download appropriate for your platform)


Download Selenium standalone webserver
https://selenium.googlecode.com/files/selenium-server-standalone-2.33.0.jar


Place the above files in this directory('test/selenium')
(Extract the zip file)