@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

body {
  margin: 0;
  padding: 0;
  background-color: #ECF0F1;
  font-family: "Arial", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
}

#main {}
#main > header > nav {
  text-transform: uppercase;
}
#main > header > nav ul.nav.nav-pills > li a {
  border-radius: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}
#main > header > nav ul.nav.nav-pills > li a.active {
  background-color: #2980B9;
}
#main > footer {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
}
