
.icon-examples i{
    padding: 10px
}

.core-css {
    display: inline-block;
    width: 100%;
    height: 250px;
}
.left {
    display: inline-block;
    padding-right:20px;
    margin-bottom: 20px;
    width:30%;
    height: 100%;
    vertical-align: top;
    border-right: solid 1px #cccccc;
}
.right {
    display: inline-block;
    padding-left:20px;
    width: 64%;
    height: 100%;

}
@media (max-width: 800px){
    .dropdown ul li:not(:last-child){
        display: none;
    }
    .divider{
        display: none;
    }
    .core-css{
        float: left;
        width: 100%;
        height: auto;
    }
    div.core-css + pre{
        float: left;
        width: 96%;
        height: auto;
    }
    .left{
        display: block;
        float: left;
        width: 100%;
        border-right: solid 0px #ff0000;
        padding:0;
        margin: 0;
    }
    .right{
        display: block;
        float: left;
        width: 100%;
        padding: 0;
        margin: 0;
    }
}